body { margin: 0px; padding: 0px; }
.nav_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr .5fr;
    height:50px;
    background-color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}
.nav_wrapper a{
    text-decoration: none;
    color:black;
    font-weight: bold;
    padding-top: 10px ;
}
.now_page{
    background-color: #ffffff;
}
.nav_wrapper a:not(:nth-child(1)):hover{
    background-color: #f6f5fa;
}
.body_wrapper {
    display: grid;
    grid-template-columns: 2fr 3.5fr;
    height:740px;
    background-color: white;
    text-align: center;
    text-transform: uppercase;
}
.body_wrapper .map{
    background-color: #ffffff;
}
.world_map{
    width: 100%;
    height: 100%;
}
.yAxis {
    font: 14px sans-serif; 
}